@import "tailwindcss";


.input {
  width: 100%;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  outline: none;
}

.input:focus {
  box-shadow: 0 0 0 2px #facc15;
  border-color: #facc15;
}
